<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/bootstrap.css" />
    <title>Probando jquery y bootstrap desde npm</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-success">
        <div class="container">
          <a class="navbar-brand mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal" href="/compras">
            <img src="carrito.svg" alt="" width="30" height="24">
          </a>
        </div>
      </nav>
      <section>
        <h1 class="text-center p-4">Bienvenido al mercado WEB, seleccione sus productos</h1>
        <div id='contenedor' class="row container mx-auto text-center w-75">
          {{> Frutas }}
        </div>
      </section>

          {{> Modal }}

      </div>

    </div>
  </div>
</div>

  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/jquery/jquery.js"></script>
  <script>
  
  $(document).ready(() => {

  });
  </script>
</body>
</html>