
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">       
       {{#each arr}}
        <img src="{{this}}.png" width="50px"  alt="{{this}}"/>
        {{/each}}
      </div>
    </div>
  </div>
</div>